* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #17181B;
  font-family: 'Lora', serif;
}
.baldachin {
  padding: 1rem;
  color: #FCFCFC;
  text-align: center;
  font-size: 2rem;
}
.baldachin-title{
  color: #FCFCFC55;
  font-family: 'Crimson Text', serif;
}
.canvas-box {
  text-align: center;
}
.canvas-wrapper {
  position: relative;
  margin: auto;
  display: inline-block;
  text-align: center;
}
.stock-canvas {
  border-bottom: 2px solid #FCFCFCAA;
  color: #FCFCFC;
}
.active-label {
  cursor: pointer;
  position: absolute;
  margin-top: -0.6rem;
  text-align: right;
  margin-right: 362px;
  right: 0;
  white-space: nowrap;
}
.active-label:hover {
  text-shadow: 0px 0px #FFFFFF77;
}
.stock-slot {
  position: absolute;
  display: inline-block;
  margin-top: -2px;
  margin-left: -2px;
  padding: 2px;
  border-radius: 4px;
  background: transparent;
}
.stock-slot:before {
  content: attr(value);
  opacity: 0;
  position: absolute;
  margin-top: -32px;
  margin-left: -18px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  transition: 0.2s;
}
.stock-slot:after {
  content: '';
  opacity: 0.1;
  position: absolute;
  margin-top: -2px;
  margin-left: -2px;
  padding: 2px;
  border-radius: 4px;
  background: #FCFCFC;
}
.stock-slot:hover:before, .stock-slot:hover:after{
  opacity: 1;
}
.guideline-label {
  position: absolute;
  margin-top: -0.6rem;
  color: #FCFCFC55;
  text-align: left;
  margin-left: 366px;
  white-space: nowrap;
}


.stock-table {
  max-width: 500px;
  margin: 2rem auto;
  border-collapse: collapse;
  color: #FCFCFCCC;
}
.stock-row {
  cursor: pointer;
  border-bottom: 0px dashed #FCFCFC22;
  transition: 0.2s;
}
.stock-table td{
  padding: 10px 8px 2px;
}
.stock-row.sub{
  border-bottom: 1px dashed #FCFCFC22;
}
.stock-table .sub td{
  padding: 2px 8px 10px;
  font-size: 12px;
}
td.stock-cell-color {
  padding: 6px 1px;
}
td.stock-cell-rate{
  text-align: right;
}