* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #272838;
  font-family: 'Lora', serif;
}
.baldachin {
  padding: 1rem;
  color: #FCFCFC;
  text-align: center;
  font-size: 2rem;
}
.baldachin-title{
  color: #FCFCFC55;
  font-family: 'Crimson Text', serif;
}
.canvas-box {
  text-align: center;
}
.canvas-wrapper {
  position: relative;
  margin: auto;
  display: inline-block;
  text-align: center;
}
.stock-canvas {
  border-bottom: 2px solid #FCFCFCAA;
  color: #FCFCFC;
}
.active-label {
  position: absolute;
  margin-top: -0.6rem;
  text-align: right;
  margin-right: 362px;
  right: 0;
  white-space: nowrap;
}

.stock-table {
  max-width: 500px;
  margin: 2rem auto;
  /*border-collapse: collapse;*/
  color: #FCFCFCCC;
}
.stock-row {
  border-bottom: 1px solid #FCFCFC;
}
.stock-table td{
  padding: 6px 0.4rem;
}
td.stock-cell-color {
  padding: 6px 1px;
}
td.stock-cell-rate{
  text-align: right;
}